.logo{
    height: 30px;
    position: absolute;
    padding-top: 35px;
    margin-left: 20px;
}
.avatar{
    height: 30px;
    position: absolute;
    padding-top: 35px;
    right: 20px;
}
.NavBar{
    height: 100px;
    background-color: black;
}
.Formdiv{
    position: absolute;
    background-color: #111;
    top: 40px;
    height: 30px;
    width: 250px;
    left: 43%;   
    border-radius: .8rem;
}
.Navbarform{
    width: 220px;
    margin-left: 14px;
    margin-top: 5px;
    border: none;
    outline: none;
    background-color: #111;
    color: white;
}
.Icon{
    height:50px;
    position : absolute;
    left: 83%;
    height: 25px;
    top: 3px;
}
.imagee
{
    height: 200px;
    max-width: 350px;
    margin-right: 20px;
}